{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block head_block %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
    <script>
        $(function(){
            $.ajax({
                url: "{% url 'reclama_datos' %}",
                type: 'get',                        
                success: function(datos) {
                    Visualiza_datos (datos);  
                },
                failure: function(datos) { 
                    alert('esto no vá');
                }
            });
            
            function Visualiza_datos (datos) {
                $(function () { 
                    alert(datos.length)
                    var chart = new Highcharts.Chart({
                        chart: {
                            type: 'column',
                            renderTo: 'container'
                        },
                        title: {
                            text: 'Gráfica del número de pedidos de los clientes'
                        },
                        xAxis: {
                            categories: ['Pedidos']
                        },
                        yAxis: {
                            title: {
                                text: 'Número de pedidos'
                            }
                        },
                        series: [{
                            name: datos[0],
                            data: [datos[1]]
                        }, {
                            name: datos[2],
                            data: [datos[3]]
                        }, {
                            name: datos[4],
                            data: [datos[5]]
                        }, {
                            name: datos[6],
                            data: [datos[7]]
                        }, {
                            name: datos[8],
                            data: [datos[9]]
                        }],
                    });
                });
            };
        });
    </script>
   
{% endblock %}

{% block body_block %}
        {% if user.is_authenticated %}
             <div class="page-header">   
                <h1>Bienvenido a Gestión de pedidos, {{ user.username }}</h1>
        {% else %}
            <h1>Bienvenido a Gestión de pedidos</h1>
        {% endif %}
         
            </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
           <h3 class="panel-title">Clientes</h3>
           {% if clientes %}
            <ul class="list-group">
                {% for cliente in clientes %}
                <li class="list-group-item"><a href="/gestionpedidos/cliente/{{ cliente.slug }}">{{ cliente.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>Ho hay clientes</strong>
            {% endif %}
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Pedidos</h3>
                {% if pedidos %}
                <ul>
                    {% for pedido in pedidos %}
                    <li><a href="{{ pedido.url }}">{{ pedido.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    <strong>Este cliente no tiene pedidos.</strong>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div id="container" style="height: 300px"></div>

    {% endblock %}