<!DOCTYPE html>
<html>
    <head>
        <title>Gestion de pedidos</title>
    </head>

    <body>
        <h1>{{ cliente_name }}</h1>
        {% if cliente %}
            {% if pedidos %}
            <ul>
                {% for pedido in pedidos %}
                <li><a href="{{ pedido.url }}">{{ pedido.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>Este cliente no tiene pedidos.</strong>
            {% endif %}
        {% else %}
            El cliente {{ cliente_name }} no existe.            
        {% endif %}
        <li><a href="/gestionpedidos/cliente/{{ cliente_name }}/add_pedido/">Añade un pedido</a></li>
    </body>
</html>