{% extends 'base.html' %}

{% block title %}Añadir Cliente{% endblock %}


{% block body_block %}

                <form role="form"  id="cliente_form" method="post" action="/gestionpedidos/add_cliente/">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br/>
                        {{ field }}<br/>
                    {% endfor %}

                <br/>
            <button class="btn btn-primary" type="submit" name="submit">Añadir cliente</button>
                </form>

{% endblock %}